#jinja2: trim_blocks:False

expand-hosts
domain-needed
bogus-priv
dns-forward-max=150
cache-size=2047
neg-ttl=360
no-poll
log-queries
log-dhcp
log-facility=/var/log/dnsmasq.log
server=147.75.207.207
server=147.75.207.208

local=/{{ metal_ocp_domain }}/
domain={{ metal_ocp_domain }}

{{"listen-address=::1,127.0.0.1,"}}{{ ocp_ips_opsbox_ip }}

{% set count = namespace(value=5) %}
{% for host in groups['tag_ocp_networking'] %}
{{"address=/"}}{{ host }}/{{ ocp_ips_reservation_network_cidr | ansible.utils.nthhost(count.value) }}
{% set count.value = count.value + 1 %}
{% endfor %}

{{"address=/api."}}{{ metal_ocp_domain }}/{{ ocp_ips_api_ip }}
{{"address=/api-int."}}{{ metal_ocp_domain }}/{{ ocp_ips_api_ip }}
{{"address=/apps."}}{{ metal_ocp_domain }}/{{ ocp_ips_apps_ip }}
