- name: metal_provision_ocp_control_hosts
  equinix.metal.device:
    project_id: "{{ metal_project_id }}"
    hostnames: "control%02d.{{ metal_ocp_domain }}"
    tags: ocp,ocp_rhcos,ocp_control,ocp_networking
    operating_system: custom_ipxe
    ipxe_script_url: "http://{{ hostvars['localhost']['ocp_ips_reservation_network_cidr'] | ansible.utils.nthhost(2) }}/ipxes/trafficstop.ipxe"
    plan: "{{ metal_ocp_control_host_config }}"
    facility: "{{ metal_facility }}"
    state: present
    wait_for_public_IPv: 4
    count: "{{ metal_ocp_num_control_hosts }}"
  register: metal_hosts_provision_ocp_control_hosts_output

# TODO This should be a wait for instance to go green state URI call loop
- name: metal_provision_ocp_control_hosts_wait_for_provisions
  ansible.builtin.pause:
    seconds: 480
  when: metal_hosts_provision_ocp_control_hosts_output.changed  